
<html>
    <head>
    <title>Using React with Ruby on Rails</title>
    </head>
    <body>

    <h1>Pages#home</h1>

    <%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
    </body>
</html>
